*{
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    background: url('https://images.unsplash.com/photo-1468070454955-c5b6932bd08d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    background-size: cover;
    border-bottom: 1px solid black;
    
    .contaner{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        border-radius: 15px;
        background: radial-gradient(circle at var(--x) var(--y), #00000034 0%, #233d4ed2 100%);
        h1{
            font-family: 'Gloria Hallelujah', cursive;
            color: rgb(219, 219, 219);
            font-size: 6em;
            pointer-events: none;
        }
        p{
            font-family: 'Ubuntu', sans-serif;
            color: rgb(219, 219, 219);
            font-size: 2em;
            pointer-events: none;
        }
        .links{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 15%;
            .linkedin{
                color: #0077b5;
                cursor: pointer;
            }
            .github{
                color: black;
                cursor: pointer;
            }
        }
        .quickLinks{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 40%;
            background: #242a2eb0;
            padding: 2em;
            margin-top: 2em;
            border-radius: 16px;
            border: 1px solid black;
            pointer-events: inherit;
            a{
                text-decoration: none;
                font-family: 'Ubuntu', sans-serif;
                color: rgb(192, 192, 192);
                font-size: 2em;
                cursor: pointer;
                & :visited{
                    color: rgb(192, 192, 192);
                }
            }
        }

    }

    
}
#skills{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1529891934443-f92f7cc212a8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80') no-repeat;
    background-size: cover;
    ul{
        list-style: circle;
        border-radius: 16px;
        height: 40%;
        width: 60%;
        background: snow;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        li{
            list-style: inside;
            font-family: 'Ubuntu', sans-serif;
            color: rgb(53, 53, 53);
            font-size: 1.5em;
            text-align: center;
            width: auto;
        }

    }
}
#about{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1533398282435-40d33c7a2d30?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80') no-repeat;
    background-size: cover;
    border-bottom: 1px solid black;
    .aboutcontaner{
        opacity: 0;
        transform: scale(.5);
        border-radius: 16px;
        height: 60%;
        width: 60%;
        background: snow;
        transition: all 700ms ease-in-out;
     .aboutbox{
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       height: 100%;
  
        h1{
            font-family: 'Ubuntu', sans-serif;
            color: rgb(53, 53, 53);
            font-size: 2.5em;
            margin: 1em 2em;
            text-decoration-line: underline;
        }
        p{
            font-family: 'Ubuntu', sans-serif;
            color: rgb(53, 53, 53);
            font-size: 1.5em;
            margin: 1em 2em;
            text-align: center;
            
            
        }
     }
        
    }
}
#projects{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: auto;
    background: url('https://images.unsplash.com/photo-1523821741446-edb2b68bb7a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    background-size: cover;
    .growth{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 2em 0 ;
        width: 50%;
        height: 50%;
        opacity: 0;
        transform: scale(.5);
        transition: all 700ms ease-in-out;
        h3{
            font-family: 'Ubuntu', sans-serif;
            color: rgb(243, 243, 243);
            font-size: 2em;
            margin: 1em ;
        }
        p{
            font-family: 'Ubuntu', sans-serif;
            color: rgb(243, 243, 243);
            font-size: 1.5em;
            margin: 1em 0 0 2em;
            text-align: center;
            a{
                text-decoration: none;
                font-family: 'Ubuntu', sans-serif;
                color: rgb(243, 243, 243);
                font-size: 1em;
                cursor: pointer;
                & :visited{
                    color: rgb(243, 243, 243);
                }
            }
        }
        
    }
    .jobber{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 2em 0 ;
        width: 50%;
        height: 50%;
        opacity: 0;
        transform: scale(.5);
        transition: all 700ms ease-in-out;
        h3{
            font-family: 'Ubuntu', sans-serif;
            color: rgb(243, 243, 243);
            font-size: 2em;
            margin: 1em ;
        }
        p{
            font-family: 'Ubuntu', sans-serif;
            color: rgb(243, 243, 243);
            font-size: 1.5em;
            margin: 1em 0 0 2em;
            text-align: center;
            a{
                text-decoration: none;
                font-family: 'Ubuntu', sans-serif;
                color: rgb(243, 243, 243);
                font-size: 1em;
                cursor: pointer;
                & :visited{
                    color: rgb(243, 243, 243);
                }
            }
        }
    }
}
form{
    height: 100vh;
    width: 100vw;
    background: url('https://images.unsplash.com/photo-1496192507750-96f7d79d74be?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .formbox{
        opacity: 0;
        transform: scale(.5);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        background: rgba(12, 12, 12, 0.692);
        border-radius: 16px;
        height: 50vh;
        width: 50vw;
        transition: all 400ms ease-in-out;
        label{
            font-family: 'Ubuntu', sans-serif;
            color: rgb(243, 243, 243);
            font-size: 1.5em;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            input{
                margin-left: 1.5em;
                outline: none;
                height:2em;
                text-align: center;
            }
            textarea{
                margin-left: 1.5em;
                outline: none;
                height: 5em;
            }
        }
        button{
            font-family: 'Ubuntu', sans-serif;
            color: rgb(243, 243, 243);
            font-size: 1.5em;
            border: none;
            padding: .5em 2em;
            border-radius: 20px;
            background: rgb(14, 158, 134);
            cursor: pointer;
            transition: all 400ms ease-in-out;
            &:hover{
                background: rgb(26, 150, 251);
            }
        }
    }
}
.resume{
    height: 100vh;
}